* {
    box-sizing: inherit;
}

*:after,
*:before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font-family: $ffBase;
  font-weight: $fwBase;
  line-height: $lhBase / $fzBase;
  @include font-size($fzBase);
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}